<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pagina 1</title> 
</head>

<link href="css/geral.css" rel="stylesheet" />

<body>
    <img src="../IMG/download (1).jpg"/>
    <style> 
    p{
        color: rgb(41, 4, 252);
        font-size: large;
        
    }
    h1{ 
        color: rgb(243, 4, 4);
        font-size: x-large;

    }
    

    </style>
     <h1>Página de teste-Página 1 </h1>
        <h2 style="font-size: medium;font-family: fantasy;font:italic;color: firebrick;">Esta é a página 1</h3><br>
        <h3 style="font-size: medium;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font:italic;color: greenyellow;">Notícias Sobre a guerra</h3>
        <h3>E.U.A se manifesta novamente</h3>
        <p>Biden diz que Putin avalia uso de armas químicas na Ucrânia
            As acusações da Rússia de que os ucranianos têm armas químicas e biológicas são falsas e são uma evidência de que o presidente russo, Vladimir Putin, está considerando usá-las em sua guerra contra a Ucrânia, disse o presidente dos Estados Unidos, Joe Biden, nesta segunda-feira (21), sem citar evidências.
            
            Putin está "contra a parede e agora ele está falando sobre novas bandeiras falsas que ele está levantando, inclusive, afirmando que nós nos EUA temos armas biológicas e químicas na Europa; [isso] simplesmente não é verdade", disse Biden em um evento com líderes empresariais dos EUA.
            
            "Eles também estão sugerindo que a Ucrânia tem armas químicas e biológicas na Ucrânia. Isso é um sinal claro de que ele está considerando usar ambas."</p><br>
        
    
    <A href="G:\Meu Drive\Naty\Cursos profissionalizantes\ETEC-Desenvolvimento de Sistemas\1- Semestre\2º-Programação WEB 1-Prof. Marcio Cezar\visual studio testes\aula 14.03.22\Index.html"><img src="..//IMG/home.jpg"style="width: 50px; height:50px;"></A>
    <A href="Page1.html"><img src="../IMG/direita.jpg"style="width: 50px; height:50px;"></A>
    
</body>
</html>